// /home/administrator/batcave/react/potato-timer/node_modules/susy/sass/_susy.scss
@import "node_modules/susy/sass/susy";
@import "node_modules/susy/sass/plugins/svg-grid";

// /home/administrator/batcave/react/potato-timer/node_modules/normalize.css/normalize.css
// @import "node_modules/normalize.css/normalize";

// /home/administrator/batcave/react/potato-timer/node_modules/sass-mq/_mq.scss
@import "node_modules/sass-mq/mq";

$susy: (
  "columns": susy-repeat(8),
  /* "gutters": 0.1,*/ "gutters": 25px
);

$susy2: (
  "columns": susy-repeat(8),
  "gutters": 0
);

/* =================== */
$debug: false;
@if ($debug) {
  // visualizing layout internals
  * {
    border: 1px dotted red;
  }
}

// @debug $susy;
@debug susy-settings();
/* =================== */

body {
  max-width: 75rem;
  margin: 0 auto;
}

.grid {
  background: susy-svg-grid() no-repeat scroll;
  margin-bottom: 20px;

  &:after {
    content: " ";
    clear: both;
    display: block;
  }
}

.grid-item {
  float: left;
  width: span(2);
  margin-right: gutter();
  height: 200px;
  border: solid 1px red;

  box-sizing: border-box;

  &:last-child {
    margin-right: 0;
    // width: span(2);
  }
}

.inner-grid {
  background: susy-svg-grid(
      $colors: (rgba(255, 0, 0, 0.5), rgba(255, 0, 0, 0.25))
    )
    no-repeat scroll;

  &:after {
    content: " ";
    clear: both;
    display: block;
  }
}

$my-blue: blue;
$my-blue-mix: lighten($my-blue, 30);

.inner-grid-item {
  float: left;
  height: 100px;
  width: span(2);
  box-sizing: border-box;
  margin-right: gutter();

  &:nth-child(2) {
    background-color: green;
  }
  &:nth-child(3) {
    background-color: $my-blue-mix;
  }
}

.grid2 {
  background: susy-svg-grid(
      $grid: $susy2,
      $colors: (rgba(0, 183, 255, 0.5), rgba(0, 183, 255, 0.25))
    )
    no-repeat scroll;
  // min-height: 50px;
  // height: 200px;

  &:after {
    content: " ";
    clear: both;
    display: block;
  }
}

.grid2-item {
  float: left;
  height: 100px;
  box-sizing: border-box;
  border: solid 1px green;
  width: span(2, $config: $susy2);

  @include mq($from: desktop) {
    color: #543675;
    width: span(1, $config: $susy2);
  }
}

/* -------------------- */

.span {
  float: left;
  margin-right: gutter();

  &:last-child {
    margin-right: 0;
  }
}

@for $span from 1 through length(susy-get("columns")) {
  .span-#{$span} {
    width: span($span);
  }
}

/* -------------------- */
